/build
/client/target
/client/bin
/core/bin-test
/core/build
/core/target
/core/bin
/core/.classpath
/core/.project
/core/.settings
/client/.settings
/client/.classpath
/client/.project
/demo/bin
/demo/build
/demo/target
/demo/.classpath
/demo/.project
/demo/db.lock.db
/demo/db.mv.db
/demo/.settings
/util/.classpath
/util/.project
/util/.settings
/util/bin
/util/build
/util/target
/web/.settings
/web/target
/web/.classpath
/web/.project
/web/.externalToolBuilders
/.classpath
/.project
