/gradlew
/gradle-app.setting
/gradlew.bat
/gradle
/.gradle
/build
/comm/target
/comm/bin
/core/bin-test
/comm/build
/classes
/core/build
/core/target
/core/bin

/demo/bin
/demo/build
/demo/out
/demo/target
/demo/db.lock.db
/demo/db.mv.db

/util/bin
/util/build
/util/out
/util/target

/auth/bin
/auth/build
/auth/out
/auth/target

/cloud/bin
/cloud/build
/cloud/out
/cloud/target

/gateway/bin
/gateway/build
/gateway/out
/gateway/target

/cloud/bin
/cloud/build
/cloud/out
/cloud/target

/eureka/bin
/eureka/build
/eureka/out
/eureka/target

/test/bin
/test/build
/test/out
/test/target

/web/target
/web/.externalToolBuilders
/web/build
/web/bin

/.classpath
/.project
/bin/
/target
/.settings
/.idea

*.iml
*.classpath
*.project
*.settings


# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


eureka-server.log.*
